n8n/workflows/cursor-api-bridge.json
{
  "name": "Cursor API Bridge - Workflow Management",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cursor-workflow-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "cursor-workflow-api"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.operation }}",
              "operation": "equals",
              "value2": "create"
            }
          ]
        }
      },
      "id": "if-create",
      "name": "If Operation = Create",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "workflow",
        "operation": "create",
        "name": "={{ $json.body.name }}",
        "additionalFields": {
          "nodes": "={{ $json.body.nodes }}",
          "connections": "={{ $json.body.connections }}",
          "settings": "={{ $json.body.settings || {} }}",
          "active": "={{ $json.body.active || false }}"
        }
      },
      "id": "n8n-create",
      "name": "Create Workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [650, 200],
      "credentials": {
        "n8nApi": {
          "id": "1",
          "name": "n8n API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.operation }}",
              "operation": "equals",
              "value2": "update"
            }
          ]
        }
      },
      "id": "if-update",
      "name": "If Operation = Update",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "resource": "workflow",
        "operation": "update",
        "workflowId": "={{ $json.body.workflowId }}",
        "updateFields": {
          "name": "={{ $json.body.name }}",
          "nodes": "={{ $json.body.nodes }}",
          "connections": "={{ $json.body.connections }}",
          "settings": "={{ $json.body.settings || {} }}",
          "active": "={{ $json.body.active }}"
        }
      },
      "id": "n8n-update",
      "name": "Update Workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [650, 400],
      "credentials": {
        "n8nApi": {
          "id": "1",
          "name": "n8n API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.operation }}",
              "operation": "equals",
              "value2": "delete"
            }
          ]
        }
      },
      "id": "if-delete",
      "name": "If Operation = Delete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 500]
    },
    {
      "parameters": {
        "resource": "workflow",
        "operation": "delete",
        "workflowId": "={{ $json.body.workflowId }}"
      },
      "id": "n8n-delete",
      "name": "Delete Workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [650, 500],
      "credentials": {
        "n8nApi": {
          "id": "1",
          "name": "n8n API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"data\": $json } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $json.error || $json.message || \"Unknown error\" } }}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 600]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If Operation = Create",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Operation = Update",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Operation = Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Operation = Create": {
      "main": [
        [
          {
            "node": "Create Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Operation = Update": {
      "main": [
        [
          {
            "node": "Update Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Operation = Delete": {
      "main": [
        [
          {
            "node": "Delete Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Workflow": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Workflow": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Workflow": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-06T00:00:00.000Z",
  "versionId": "1"
}

