n8n/workflows/cursor-api-bridge-v2.json
{
  "name": "Cursor API Bridge v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cursor-workflow-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "cursor-workflow-api"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.body.operation }}",
                    "operation": "equals",
                    "value2": "ping"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ping"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.body.operation }}",
                    "operation": "equals",
                    "value2": "list"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "list"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.body.operation }}",
                    "operation": "equals",
                    "value2": "create"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "create"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.body.operation }}",
                    "operation": "equals",
                    "value2": "update"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "update"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.body.operation }}",
                    "operation": "equals",
                    "value2": "delete"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "delete"
            }
          ]
        },
        "fallbackOutput": "fallback",
        "options": {}
      },
      "id": "switch-operation",
      "name": "Switch Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://192.168.0.158:30109/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MzFiMGE1OS01NTU1LTQyOTAtOTJjOC0zM2E1MWIyOTg1NTAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNGMzOWU1NTEtMGY1ZS00MGQ2LWJmNzUtNDg5NDg3NTFkYjcyIiwiaWF0IjoxNzY5NDY0MTNzfQ.URWtGNi42brs8s8Z3CkmWLFXGbJNLiphujaVl0h1oPA"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-list",
      "name": "HTTP List Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.0.158:30109/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MzFiMGE1OS01NTU1LTQyOTAtOTJjOC0zM2E1MWIyOTg1NTAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNGMzOWU1NTEtMGY1ZS00MGQ2LWJmNzUtNDg5NDg3NTFkYjcyIiwiaWF0IjoxNzY5NDY0MTMzfQ.URWtGNi42brs8s8Z3CkmWLFXGbJNLiphujaVl0h1oPA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"name\": $json.body.name,\n  \"nodes\": $json.body.nodes,\n  \"connections\": $json.body.connections,\n  \"settings\": $json.body.settings || {}\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "allowUnauthorizedCerts": false
        }
      },
      "id": "http-create",
      "name": "HTTP Create Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://192.168.0.158:30109/api/v1/workflows/{{ $json.body.workflowId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MzFiMGE1OS01NTU1LTQyOTAtOTJjOC0zM2E1MWIyOTg1NTAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNGMzOWU1NTEtMGY1ZS00MGQ2LWJmNzUtNDg5NDg3NTFkYjcyIiwiaWF0IjoxNzY5NDY0MTMzfQ.URWtGNi42brs8s8Z3CkmWLFXGbJNLiphujaVl0h1oPA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"name\": $json.body.name,\n  \"nodes\": $json.body.nodes,\n  \"connections\": $json.body.connections,\n  \"settings\": $json.body.settings || {}\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-update",
      "name": "HTTP Update Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://192.168.0.158:30109/api/v1/workflows/{{ $json.body.workflowId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MzFiMGE1OS01NTU1LTQyOTAtOTJjOC0zM2E1MWIyOTg1NTAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNGMzOWU1NTEtMGY1ZS00MGQ2LWJmNzUtNDg5NDg3NTFkYjcyIiwiaWF0IjoxNzY5NDY0MTMzfQ.URWtGNi42brs8s8Z3CkmWLFXGbJNLiphujaVl0h1oPA"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-delete",
      "name": "HTTP Delete Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"data\": $json } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Invalid operation. Must be 'ping', 'list', 'create', 'update', or 'delete'.\" } }}",
        "options": {}
      },
      "id": "respond-invalid-operation",
      "name": "Respond Invalid Operation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"pong\": true } }}"
      },
      "id": "respond-ping",
      "name": "Respond Ping",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 50]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $json.error || $json.message || $json.body?.message || \"Unknown error\" } }}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 600]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Operation": {
      "main": [
        [
          {
            "node": "Respond Ping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP List Workflows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Create Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Update Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Delete Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP List Workflows": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Create Workflow": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Update Workflow": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Delete Workflow": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-06T00:00:00.000Z",
  "versionId": "2"
}

