n8n/workflows/example-complex-workflow-v1.json
{
  "operation": "create",
  "name": "Complex Data Processing Pipeline v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "process-data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "string": [
            {
              "value1": "={{ $json.body.data }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "processed_data",
              "name": "processed_data",
              "value": "={{ { \"original\": $json.body.data, \"uppercase\": $json.body.data.toUpperCase(), \"length\": $json.body.data.length, \"words\": $json.body.data.split(' ').length } }}",
              "type": "object"
            },
            {
              "id": "metadata",
              "name": "metadata",
              "value": "={{ { \"source\": \"webhook\", \"processed_at\": $now.toISO(), \"processor\": \"n8n-api-bridge\" } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "transform-data",
      "name": "Transform Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/n8n-io/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-external-data",
      "name": "Fetch External Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "combined_result",
              "name": "combined_result",
              "value": "={{ {\n  \"input_processing\": $('Transform Data').item.json,\n  \"external_data\": {\n    \"repo_name\": $json.name,\n    \"stars\": $json.stargazers_count,\n    \"forks\": $json.forks_count,\n    \"description\": $json.description\n  },\n  \"summary\": {\n    \"total_operations\": 3,\n    \"status\": \"success\"\n  }\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "combine-results",
      "name": "Combine Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.combined_result }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Invalid input: data field is required\" } }}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Fetch External Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch External Data": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Results": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}

